<app-loader *ngIf="loader"></app-loader>
<div>
  <div class="row">
    <div class="col-sm-4">
      <div class="newcard">
        <div class="card-body">
          <h5 class="card-title">Total Withdraws</h5>
          <p class="card-text">{{ totalwithdraw }}</p>
        </div>
        <div class="temp-scale" (click)="openTotalWithdrawDialog()">
          <i class="fa-solid fa-arrow-right" style="color: #926108"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="newcard">
        <div class="card-body">
          <h5 class="card-title">Today's Withdraws</h5>
          <p class="card-text">{{ todayWithdraw }}</p>
        </div>
        <div class="temp-scale" (click)="openTodaysWithdrawDialog()" >
          <i class="fa-solid fa-arrow-right" style="color: #926108"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <button
        class="col-sm-4 mb-3 b1"
        id="b2"
        style="background-color:#E2BD01"
        (click)="openTotalWithdrawDialog()"
      >
        Check Report
      </button>
      <button
        class="col-sm-4 mb-3 b1"
        id="b3"
        style="background: linear-gradient(to right, #cb9900,#ab7702);"
        (click)="openLastWeekDialog()"
      >
        Last Week's Withdraw
      </button>
      <button
        class="col-sm-4 b1"
        id="b4"
        style="background: linear-gradient(to right, #a67102,#89580a);"
        (click)="openDialog()"
      >
        Add New Withdraw
      </button>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-sm-8">
      <input
        class=" inp "
        matInput
        placeholder="Username"
        #input
        (input)="filterData(input.value)"
      />
    </div>
    <div class="col-sm-4">
      <button
        class= "inp"
        id="s1"
        style="background: linear-gradient(to right, #74480f,#442504); color: #fffbfb; font-size: 500"
        (click)="filterData(input.value)"
      >
        Search
      </button>
    </div>
  </div>
  
  <div class="example-container mat-elevation-z8 tbl"  [hidden]="false">
    <mat-table style="background-color: rgb(5, 5, 5);" #table [dataSource]="dataSource" matSort>
      
      <ng-container matColumnDef="position">
        <mat-header-cell
          *matHeaderCellDef
          style=" color: #ffd700;  "
        >
          No.
        </mat-header-cell>
        <mat-cell
          *matCellDef="let element; let i = index"
          style=" color: rgb(241, 237, 237)"
        >
          {{ i + 1 }}</mat-cell
        >
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="userId">
        <mat-header-cell
          *matHeaderCellDef
          style=" color: #ffd700"
        >
          Username
        </mat-header-cell>
        <mat-cell
          *matCellDef="let element"
          style="color: white"
        >
          {{ element.userId }}
        </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="count">
        <mat-header-cell
          *matHeaderCellDef
          style=" color: #ffd700"
        >
          Deposites
        </mat-header-cell>
        <mat-cell
          *matCellDef="let element"
          style=" color: white"
        >
          {{ element.count }}
        </mat-cell>
      </ng-container>
  
      
  
      <mat-header-row  class="rowheader"  *matHeaderRowDef="displayedColumns" ></mat-header-row>
      <mat-row class="rowheader" *matRowDef="let row; columns: displayedColumns"></mat-row>
  
     
    </mat-table>
  
   
  </div>