<!-- Top Navbar -->
<div class="d-flex justify-content-end">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-end">
      <a class="navbar-brand" href="#"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        style="background-color: white"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="t" [ngClass]="{ sidebarExpanded: isExpanded }">
          <h3 style="color: gold">
            {{ userRole === 'APPROVEDEPOSIT' ? 'Approve' : userRole }} Panel
            <span style="color: rgb(246, 245, 241); font-weight: 300"
              >| {{ title }}</span
            >
          </h3>
        </div>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item header">
            <h3>{{ userName }}</h3>
          </li>
          <li class="nav-item btn-group dropdown">
            <a
              type="button"
              class="btn"
              data-bs-toggle="dropdown"
              data-bs-display="dynamic"
              aria-expanded="false"
            >
              <span class="material-symbols-outlined golden">
                account_circle
                <span
                  class="material-symbols-outlined0"
                  style="margin-left: -25px"
                >
                  keyboard_arrow_down
                </span>
              </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-start">
              <li>
                <a class="dropdown-item" routerLink="profile"
                  >Update Password</a
                >
              </li>
              <!-- <li><a class="dropdown-item" href="#">Menu item</a></li> -->
              <li>
                <a class="dropdown-item" (click)="logout()">Logout </a>
              </li>
            </ul>
          </li>
          <li class="nav-item ms-auto menu my-2">
            <a routerLink="profile">Update Password</a>
          </li>
          <li class="nav-item ms-auto menu">
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- Side BAR -->
<div class="sidebar" [ngClass]="{ expanded: isExpanded }">
  <div class="header" (click)="handleSidebarToggle()">
    <h1 class="title">Operator</h1>
    <div class="toggle d-flex">
      <span class="chevron"></span>
      <!-- <span class="material-symbols-outlined"> account_circle </span> -->
    </div>
  </div>
  <div class="content">
 
    
    <mat-nav-list>
      <ng-container *ngFor="let navDomain of navDomains">
        
        <!-- Regular item (no children) -->
        <a mat-list-item *ngIf="!navDomain.children"
           [routerLink]="[navDomain.routerLink]"
           routerLinkActive="active">
           <span class="material-symbols-outlined small-icon">{{navDomain.icon}}</span>
          <span >{{ navDomain.title }}</span>
        </a>
    
        <!-- Dropdown item (with children) -->
        <div *ngIf="navDomain.children">
          <mat-list-item (click)="toggleSubmenu(navDomain.title)" class="parent">
            <div class="content">
            <span class="material-symbols-outlined small-icon" style="margin-right: 10px;">{{navDomain.icon}}</span>
            <span class="full-width" >{{ navDomain.title }}</span>
         
            <mat-icon class="menu-button" 
                      [ngClass]="{ 'rotated': isSubmenuExpanded(navDomain.title) }"
                      *ngIf="isSubmenuExpanded(navDomain.title) || isShowing">expand_more</mat-icon>
          </div>
          </mat-list-item> 
    
          <div class="submenu" 
               [ngClass]="{ 'expanded': isSubmenuExpanded(navDomain.title) }"
               *ngIf="isSubmenuExpanded(navDomain.title) || isShowing">
            <a mat-list-item *ngFor="let child of navDomain.children"
               [routerLink]="[child.routerLink]"
               routerLinkActive="active">
               <div class="content">
               <span class="material-symbols-outlined small-icon"  style="margin-right: 10px;">{{child.icon}}</span>
              <span *ngIf="isSubmenuExpanded(navDomain.title) || isShowing">{{ child.title }}</span>
            </div>
            </a>
          </div>
        </div>
    
      </ng-container>
    </mat-nav-list>
    
    
    
    <div class="link">
      <div class="content" (click)="logout()">
        <span class="material-symbols-outlined">logout</span>
        <div class="title">Logout</div>
      </div>
    </div>
  </div>


</div>
