 .icon{
  cursor: pointer;
 }
 .bn{
  margin-top: -500px;
  margin-left: 4px;
  height: auto;
 }
  .search-container {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;

    height: 55px;
    border-radius: 10px;
}

.search-input {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.search-input::placeholder {
    color: #888;
}

.search-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.search-button svg {
    width: 20px;
    height: 20px;
}

//================================================================================
table {
  width: 100%; 
  border-collapse: collapse; 
  margin: 2px;
  font-size: 16px;
  min-width: 400px;
  background-color: #2e2e2e;
  border: 1px solid #212121;
}
thead {
  color:   gold ;
  background-color:  rgb(35, 30, 9);
}
thead th {
  border-bottom: 1px solid #212121;
  padding: 12px 15px;
  font-weight: 5; 
  
}
tbody tr {
  color: white;
  font-weight: 5;
  border: 5px solid #212121;
  background-color: #2f2e2e;
}

tbody tr td {
  padding: 12px 15px;
}

.approve-btn, .reject-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}
i{
  cursor: pointer;
  padding-left: 6px;
  
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.bar {
  display: inline-block;
  width: 1.4px;
  height: 10px;
  background-color: rgba(177, 190, 82, 0.5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 15px;
  margin: 0 5px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ecf316;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

//======================================================================
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none;
  padding: 12px 16px;
}

.dropdown.open .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-menu input[type="checkbox"] {
  margin-right: 8px;
}

::ng-deep .mat-mdc-paginator {
      background-color:#2e2e2e !important;
      color: rgb(243, 243, 243) !important;
    }
::ng-deep .mat-mdc-select-arrow svg  {
          color: rgba(245, 237, 241, 0.919) !important;
        }
::ng-deep .mat-mdc-select-value {
     color: rgba(245, 237, 241, 0.919) !important;
   }
::ng-deep   .mat-mdc-icon-button .mat-mdc-paginator-icon {
    fill: rgb(249 249 249) !important;
    }
    
::ng-deep   .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
      fill: rgb(7, 7, 7) !important;
      }

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color:#2e2e2e !important;
}

 
//----dropdown

.dropdown1{
  position: absolute;
  // background-color: whitesmoke;
  text-align: right ;
  z-index: 1;

}
.dropdown1 ul {
  list-style: none;
}
//=============================================
//================================================================
.btn {
  border: none;
  background-color: transparent;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn .material-icons {
  font-size: 24px;
}

.on {
  color: white;
  background-color: rgb(98, 101, 98);
}

.off {
  color: white;
  background-color: rgb(78, 79, 78);
}
.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
//=============================================
::ng-deep .mat-mdc-dialog-container {
  border-radius: 12px !important;
  overflow: hidden !important;
}