<div mat-dialog-title>
    <h2 style="color: gold;">Manage Languages</h2>
    <form [formGroup]="languageForm" (ngSubmit)="onSubmit()" class="row">
      <mat-grid-list cols="2" rowHeight="100px" gutterSize="16px">
        <mat-grid-tile colspan="1">
          <mat-form-field appearance="fill">
            <mat-label>Language Name</mat-label>
            <input matInput formControlName="languageName" type="text">
          </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile colspan="1">
          <button mat-raised-button color="primary" type="submit" style="width: 50%;">
            Add Language
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
  
  <mat-dialog-content>
    <app-loader *ngIf="loader"></app-loader>
    <div class="table-container">
      <table mat-table [dataSource]="languages">
    
        <!-- Language Name Column -->
        <ng-container matColumnDef="languageName" [sticky]="true">
          <th mat-header-cell *matHeaderCellDef>Language Name</th>
          <td mat-cell *matCellDef="let language">
            <ng-container *ngIf="!language.isEditing; else editLanguageName">
              {{ language.languageName }}
            </ng-container>
            <ng-template #editLanguageName>
              <input type="text" [(ngModel)]="language.languageName">
            </ng-template>
          </td>
        </ng-container>
    
        <!-- Operation Column -->
        <ng-container matColumnDef="operation" [sticky]="true">
          <th mat-header-cell *matHeaderCellDef>Operation</th>
          <td mat-cell *matCellDef="let language">
            <button mat-button *ngIf="!language.isEditing" (click)="editLanguage(language)">Edit</button>
            <button mat-button *ngIf="language.isEditing" (click)="saveLanguage(language)">Save</button>
            <button mat-button *ngIf="language.isEditing" (click)="cancelEdit(language)">Cancel</button>
          </td>
        </ng-container>
    
        <!-- Header and Row Declaration -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      </table>
    </div>
    <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon style="color: gold">close</mat-icon>
    </button>
  </mat-dialog-content>
  
