::ng-deep .mat-mdc-dialog-container .mdc-dialog__title{
    background-color: rgb(35, 30, 9) !important; 
}


h2 {
    background-color: rgb(35, 30, 9);
    font-weight:400;
    text-decoration: underline whitesmoke 1px;
  }
  ::ng-deep .mat-mdc-header-cell{
   background-color:  rgb(35, 30, 9) !important;
   color: gold;;
  }
  
  ::ng-deep .mat-mdc-cell{
  background-color:  rgb(35, 30, 9) !important;
  color: white;
  }
  ::ng-deep.mat-mdc-button .mdc-button__label{
  // background-color: #c0a947 !important;
  color: white !important;
  }
  
  .slot-form {
    display: flex;
    flex-direction: column;
  }
  
  .mat-form-field {
    margin-bottom: 16px; /* Adds space between form fields */
  }
  
  .submit-button {
    margin-top: 24px; /* Adds space between the last form field and the button */
  }
  
  
  ::ng-deep .mat-mdc-slide-toggle .mdc-switch:enabled+.mdc-label  {
    color:gray !important;
  }
  .container {
    max-width: 100%;
  }
  
  .form-row {
    margin-bottom: 16px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  
  mat-dialog-content{
   padding: 10px;
   height: auto;
  }
  
  mat-dialog-content , mat-dialog-actions {
   background-color:   rgb(35, 30, 9);
   overflow: hidden;
   padding: 10px;
   
  
  }
  
  
  .close-button {
   position: absolute;
   top: 0;
   right: 0;
  }
  
  :host {
   height: 120vh; /* Adjust the height as needed */
  }
  
  
  // .loader {
  //   display: inline-block;
  //   margin-left: 5px; /* Adjust margin as needed */
  // }
  // =======================loader======================
  
  .status-cell {
   display: flex;
   align-items: center;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .userName{
   cursor: pointer !important;
  }
  
  
  :host ::ng-deep .example-full-width .mat-form-field {
   background-color: transparent !important; /* Use !important cautiously */
  }
  ::ng-deep .example-full-width .mat-form-field-label {
   color: white;
  }
  
  ::ng-deep .example-full-width .mat-form-field-underline {
   background-color: white; /* Set underline color to white */
  }
  
  ::ng-deep .example-full-width .mat-form-element {
   color: white;
  }
  
  /* Adjust the color of the placeholder text */
  ::ng-deep .example-full-width .mat-form-field-placeholder {
   color: white;
  }
  
  /* Adjust the color of the mat-error text */
  ::ng-deep .example-full-width .mat-error {
   color: white;
  }
  mat-form-field.mat-form-field.mat-white {
   &.mat-focused {
     .mat-form-field-label {
       color: #fafafa00;
     }
     .mat-form-field-ripple {
       background-color: #fafafa00 !important;
     }
   }
  }
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
   background-color: transparent !important;
  }
  ::ng-deep
   .mdc-text-field--filled:not(.mdc-text-field--disabled)
   .mdc-floating-label,
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
   .mdc-floating-label--float-above {
   color: rgba(255, 255, 255, 0.738) !important;
  }
  ::ng-deep
   .mdc-text-field--filled:not(.mdc-text-field--disabled)
   .mdc-text-field__input {
   color: white !important;
  }
  .black_line {
   border-bottom: 1px solid white !important;
  }
  //************************************************************************************************
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
   border-bottom: 1px solid rgb(255, 255, 255);
  }
  
  ::ng-deep
   .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--invalid {
   border-bottom: 0px solid rgb(255, 255, 255);
  }
  
  .table-container {
  max-height: 400px; /* Adjust this as per your need */
  overflow: auto; /* Makes the body scrollable */
  }
  
  ::ng-deep   .mdc-dialog__title{ 
  background-color:   rgb(35, 30, 9)  !important;
  }
  
  
  
  
  
  
  
   