<app-loader *ngIf="prograsbar"></app-loader>
<div>
  <div class="row">
    <div class="col containe">
      <h5 style="color: white">Update Password :-</h5>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="row">
        <!-- Top Row -->
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>User ID</mat-label>
              <input
                matInput
                formControlName="userId"
                placeholder="Enter User ID"
                (input)="onUserInput($event)"
              />
              <div class="three-body" *ngIf="loader1">
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
              </div>
              <mat-error
                *ngIf="
                  formGroup.get('userId').invalid &&
                  (formGroup.get('userId').dirty ||
                    formGroup.get('userId').touched)
                "
              >
                <span *ngIf="formGroup.get('userId').errors['required']"
                  >User ID is required.</span
                >
                <span *ngIf="formGroup.get('userId').errors['minlength']"
                  >User ID must be at least 4 characters long.</span
                >
                <span
                  *ngIf="
                    formGroup.get('userId').errors &&
                    formGroup.get('userId').errors['userExists']
                  "
                >
                  User Not Found .
                </span>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Bottom Row -->

          <!-- Display error messages for Amount -->
        </div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>password</mat-label>
              <input
                matInput
                formControlName="password"
                placeholder="Enter UTR Number"
              />
              <!-- Display error messages for required and min length -->
              <mat-error
                *ngIf="
                  formGroup.get('password').invalid &&
                  (formGroup.get('password').dirty ||
                    formGroup.get('password').touched)
                "
              >
                <span *ngIf="formGroup.get('password').errors['required']"
                  >Password is required</span
                >
                <span
                  *ngIf="formGroup.get('password').errors['minlength']"
                ></span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row justify-content-center mt-3">
          <button class="Btn">Button</button>
        </div>
        <input type="hidden" formControlName="id" />
      </form>
      <div class="row">
        <div class="col-lg-7 md-5 my-2">
          @if(dataSource.length >0){
          <div class="table">
            <table mat-table [dataSource]="dataSource">
              <!--- Note that these columns can be defined in any order. The actual rendered columns are set as a property on the row definition -->
              <!-- Position Column -->
              <ng-container matColumnDef="userName" [sticky]="true">
                <th style="color: #a141a2" mat-header-cell *matHeaderCellDef>
                  UserId
                </th>
                <td
                  mat-cell
                  *matCellDef="let element"
                  (click)="openDialog()"
                  class="userName"
                >
                  {{ element.userName }}
                </td>
              </ng-container>
              <ng-container matColumnDef="amount" [sticky]="true">
                <th style="color: #a141a2" mat-header-cell *matHeaderCellDef>
                  Amount
                </th>
                <td
                  mat-cell
                  [matTooltip]="element.time"
                  matTooltipPosition="above"
                  aria-label="Button that displays a tooltip when focused or hovered over"
                  *matCellDef="let element"
                  (click)="openDialog()"
                  class="amount"
                >
                  {{ element.amount }}
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="status" [sticky]="true">
                <th style="color: #a141a2" mat-header-cell *matHeaderCellDef>
                  Status
                </th>
                <td mat-cell *matCellDef="let element" class="status-cell">
                  @switch (element.status) { @case ('In Process') {
                  <div class="loader">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </div>
                  } @case ('Success') {

                  <i
                    class="fa-solid fa-circle-check fa-lg"
                    style="color: #20d813"
                  ></i>
                  <i
                    (click)="openDepositDialog(element)"
                    class="fa-solid fa-receipt fa-lg"
                    style="color: #f5cb32; padding-left: 10px"
                  ></i>

                  } @default { @if(element.status.startsWith('F') ){
                  <ng-container
                    ><i
                      class="fa-solid fa-circle-xmark fa-lg"
                      style="color: #df7630"
                    ></i
                  ></ng-container>
                  }@else{
                  {{ element.status }}
                  } } }
                </td>
              </ng-container>
              <ng-container matColumnDef="retry" [sticky]="true">
                <th style="color: #a141a2" mat-header-cell *matHeaderCellDef>
                  Operations
                </th>
                <td mat-cell *matCellDef="let element">
                  <div class="justify-content-evenly">
                    @if(element.status.startsWith('F')){
                    <i
                      (click)="retry(element)"
                      class="fa-solid fa-arrows-rotate userName"
                      style="color: #8cf584"
                    ></i>
                    } @if(element.status.startsWith('F')
                    ||element.status.startsWith('I') ){
                    <i
                      (click)="deleteReport(element.id)"
                      class="fa-solid fa-trash userName"
                      style="color: #f90808; margin-left: 10px"
                    ></i>
                    }
                  </div>
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns; sticky: true"
              ></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          }
        </div>
      </div>
    </div>
    <div class="col">
      <div class="instructions">
        <h5>Instructions</h5>
        <p>Welcome to the user details form. Here are the steps to follow:</p>
        <ol>
          <li>The username corresponds to various websites.</li>
          <li>
            Please provide the username associated with the respective website.
          </li>
          <li>Select the amount you wish to process.</li>
          <li>Enter the Unique Transaction Reference (UTR) number.</li>
          <li>
            Optionally, operators can upload a screenshot of the UTR or drag and
            drop it into the designated space.
          </li>
        </ol>
        <p>
          Thank you for following these instructions. If you encounter any
          issues, please feel free to reach out for assistance.
        </p>
      </div>
    </div>
  </div>
</div>
