h2 {
    background-color: rgb(35, 30, 9);
 }
 mat-dialog-content , mat-dialog-actions {
    background-color:   rgb(35, 30, 9);
    overflow: hidden;
    padding: 10px;
    
  
  }
.card {
    width: 95%;
    color: #e9e9e9; /* Text color */
    padding: 0.7em 1.7em; /* Padding for content */
    font-size: 18px; /* Font size */
    border-radius: 0.5em; /* Rounded corners */
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Transparent border */
    // box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37); /* Box shadow for depth */
  }
  .golden-progress-bar {
    background-image: linear-gradient(to right, #ffd700, #ffd700);
    /* Other styles for the progress bar */
  }
  /* modal.component.css */
  
  .custom-dialog-content {
    position: relative;
    padding-right: 48px; /* Adjust as needed */
  }
  
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  :host {
    height: 120vh; /* Adjust the height as needed */
  }
  .containe {
    align-items: center;
    padding: 20px;
    background-color: rgb(35, 30, 9);
    border-radius: 8px;
    // box-shadow: 0 0 10px #ffd9009a;
  }
  .Btn {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
      to right,
      #000000,
      #ffd700,
      #000000,
      #000000,
      #ffd700,
      #000000
    );
    background-size: 250%;
    background-position: left;
    color: #ffd700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .Btn::before {
    position: absolute;
    content: "Submit";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }
  
  .Btn:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:active {
    transform: scale(0.95);
  }
  .instructions {
    padding: 20px;
  
    color: #d0cccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .instructions h5 {
    color: #c9c9c9;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .instructions ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
  
  .instructions li {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
  }
  :host ::ng-deep .example-full-width .mat-form-field {
    background-color: transparent !important; /* Use !important cautiously */
  }
  ::ng-deep .example-full-width .mat-form-field-label {
    color: white;
  }
  
  ::ng-deep .example-full-width .mat-form-field-underline {
    background-color: white; /* Set underline color to white */
  }
  
  ::ng-deep .example-full-width .mat-form-element {
    color: white;
  }
  
  /* Adjust the color of the placeholder text */
  ::ng-deep .example-full-width .mat-form-field-placeholder {
    color: white;
  }
  
  /* Adjust the color of the mat-error text */
  ::ng-deep .example-full-width .mat-error {
    color: white;
  }
  mat-form-field.mat-form-field.mat-white {
    &.mat-focused {
      .mat-form-field-label {
        color: rgb(35, 30, 9);
      }
      .mat-form-field-ripple {
        background-color:rgb(35, 30, 9) !important;
      }
    }
  }
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
  }
  ::ng-deep
    .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-floating-label,
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-floating-label--float-above {
    color: rgba(255, 255, 255, 0.738) !important;
  }
  ::ng-deep
    .mdc-text-field--filled:not(.mdc-text-field--disabled)
    .mdc-text-field__input {
    color: white !important;
  }
  .black_line {
    border-bottom: 1px solid white !important;
  }
  //************************************************************************************************
  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  
  ::ng-deep
    .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--invalid {
    border-bottom: 0px solid rgb(255, 255, 255);
  }
  @media (max-width: 768px) {
    .instructions {
      display: none;
    }
  }
  ::ng-deep .mat-mdc-select {
    color: white !important;
  }
  //------------------------------------------------------------------------------------------------
  .card {
    width: 95%;
    color: #e9e9e9; /* Text color */
    padding: 0.7em 1.7em; /* Padding for content */
    font-size: 18px; /* Font size */
    border-radius: 0.5em; /* Rounded corners */
    background-color: rgba(255, 255, 255, 0.2); /* Transparent white background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    // border: 1px solid rgba(255, 255, 255, 0.2); /* Transparent border */
    // box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37); /* Box shadow for depth */
  }
  
  
  
  
  .golden-progress-bar {
    background-image: linear-gradient(to right, #ffd700, #ffd700);
    /* Other styles for the progress bar */
  }
  /* modal.component.css */
  
  .custom-dialog-content {
    position: relative;
    padding-right: 48px; /* Adjust as needed */
  }
  
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  :host {
    height: 120vh; /* Adjust the height as needed */
  }
  .containe {
    align-items: center;
    padding: 20px;
    background-color:rgb(35, 30, 9);
    border-radius: 8px;
    // box-shadow: 0 0 10px #ffd9009a;
  }
  .Btn {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(
      to right,
      #000000,
      #ffd700,
      #000000,
      #000000,
      #ffd700,
      #000000
    );
    background-size: 250%;
    background-position: left;
    color: #ffd700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .Btn::before {
    position: absolute;
    content: "Add User";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }
  
  .Btn:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .Btn:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  .three-body {
    --uib-size: 30px;
    --uib-speed: 0.8s;
    --uib-color: #ffd700;
    position: absolute;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    right: 0px;
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
  }
  
  .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
  }
  
  .three-body__dot:after {
    content: "";
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
  }
  
  .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
  }
  
  .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
  }
  
  .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
  }
  
  .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
      ease-in-out;
  }
  
  .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
  }
  
  .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
  }
  
  @keyframes spin78236 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes wobble1 {
    0%,
    100% {
      transform: translateY(0%) scale(1);
      opacity: 1;
    }
  
    50% {
      transform: translateY(-66%) scale(0.65);
      opacity: 0.8;
    }
  }
  
  @keyframes wobble2 {
    0%,
    100% {
      transform: translateY(0%) scale(1);
      opacity: 1;
    }
  
    50% {
      transform: translateY(66%) scale(0.65);
      opacity: 0.8;
    }
  }
  //progressbar
  ::ng-deep .mdc-linear-progress__bar-inner {
    border-color: #ffd700 !important;
  }