<div class="watti-chat-container">

  <div  *ngIf="showWithdrawList" style="flex: 0 0 40%; max-width: 40%; padding-right: 12px; overflow-X: hidden; position: relative;">
    <app-appv-wlist [embedded]="true" [compactColumns]="['Sr.no','userId','amount','approveWithdrawStatus','Operations']"></app-appv-wlist>
  </div>

  <!-- Middle: 20% Conversations -->
  <div class="sidebar" style="flex: 0 0 20%; max-width: 20%; overflow: auto;">
    <div class="sidebar-header whatsapp-style-header position-relative">
      <div class="d-flex align-items-centzer w-100 flex-nowrap">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label style="color: white;">Select Status</mat-label>
          <mat-select [(value)]="selectedFilter" (selectionChange)="applyFilter()">
            <mat-option value="all">ALL</mat-option>
            <mat-option value="undone">UNDONE</mat-option>
            <mat-option value="block">BLOCKED</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      
      <div class="search-bar mt-3 w-100">
        <form class="d-flex align-items-center position-relative" (submit)="$event.preventDefault()">
          <input
            class="form-control search-input"
            type="search"
            placeholder="Search conversations"
            aria-label="Search"
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchChange($event)"
            name="search"
            autocomplete="off"
            style="padding-left: 40px; text-align: center;"
          >
          <span class="search-icon position-absolute" style="left: 12px; top: 50%; transform: translateY(-50%); color: #aaa;">
            <mat-icon>search</mat-icon>
          </span>
        </form>
      </div>
    </div>
    <div class="conversation-list">
      <!-- <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar> -->
      <div *ngIf="!loading && filteredConversations.length === 0" class="no-conversations">
        No conversations found.
      </div>
      <mat-card 
        *ngFor="let conversation of filteredConversations" 
        class="conversation-item"
        [class.active]="activeWatiNumber === conversation.watiNumber"
        (click)="loadConversationByWatiNumber(conversation.watiNumber); markAsRead(conversation)">
        <mat-card-content>
          <div class="avatar">
            <mat-icon>account_circle</mat-icon>
            <div *ngIf="!conversation.isRead" class="notification-badge"></div>
          </div>
          <div class="conversation-details">
            <h3 *ngIf="conversation.clientName " >{{ conversation.clientName  }}</h3>
            <h3 *ngIf="!conversation.clientName "> USER </h3>
            <p class="lastmsg" [innerHTML]="getlastMessage(conversation.data) | lineBreaks"></p>
            <p class="timestamp">{{ conversation.lastMessageTime | utcToLocal }}</p>
          </div>
          <button *ngIf=" !conversation.isDone"
          mat-icon-button 
                  class="done-button" 
                  (click)="markAsDone(conversation); $event.stopPropagation()"
                  [class.done]="conversation.isDone"
                  matTooltip="Mark as done">
            <mat-icon>{{ conversation.isDone ? 'check_circle' : 'radio_button_unchecked' }}</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- Right: 50% chat -->
  <div class="chat-main" [ngStyle]="{flex: showWithdrawList ? '0 0 40%' : '0 0 80%', maxWidth: showWithdrawList ? '40%' : '80%'}" style="margin-left: 0; overflow: hidden; position: relative;">
    <div class="chat-header">
      <div class="chat-header-user">
        <mat-icon>account_circle</mat-icon>
          <div class="client-name-container" *ngIf="selectedConversation">
          <ng-container *ngIf="!isEditingName; else editName">
            <div class="name-edit-wrap">
              <h2 (click)="startEditingName()" class="client-name" style="cursor:pointer;">
                {{ selectedConversation.clientName || 'USER' }}
              </h2>
              <button mat-icon-button class="edit-btn" (click)="startEditingName(); $event.stopPropagation()">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </ng-container>
          <ng-template #editName>
            <input
              [(ngModel)]="editingClientName"
              (blur)="updateClientName()"
              (keydown.enter)="updateClientName()"
              class="client-name-input"
              style="font-size:1.5rem; font-weight:600; background:transparent; color:white; border:none; border-bottom:1px solid #aaa; outline:none; width:90%;"
              autofocus
            />
          </ng-template>
        </div>
      </div>
      <div class="chat-header-actions">
        <button mat-icon-button class="dark-menu-btn" (click)="toggleWithdrawList()" [matTooltip]="showWithdrawList ? 'Hide list' : 'Show list'">
          <mat-icon>{{ showWithdrawList ? 'chevron_left' : 'chevron_right' }}</mat-icon>
        </button>
      <!-- <div class="ws-status" [class.connected]="wsConnected" title="WebSocket Connection Status">
        <span *ngIf="wsConnected">Live</span>
        <span *ngIf="!wsConnected">Offline</span>
      </div> -->
      <!-- <p><strong>Manual Status:</strong> {{ isManual ? 'Manual' : 'Automatic' }}</p> -->
      <div class="quick-reply-wrapper" *ngIf="activeWatiNumber">
        <button class="quick-reply-trigger" 
                (click)="toggleStarMessagesDropdown()"
                [class.active]="showStarMessagesDropdown">
          <mat-icon>star</mat-icon>
        </button>
        
        <div class="quick-reply-dropdown" *ngIf="showStarMessagesDropdown">
          <div class="dropdown-header">
            <span>Quick Messages</span>
            <button class="close-btn" (click)="closeStarMessagesDropdown()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          
          <div class="dropdown-content">
            <div *ngFor="let reply of quickReplies" 
                 class="quick-message-item"
                 (click)="sendQuickReply(reply)">
              <div class="quick-reply-content">
                <div style="color: aliceblue;" class="quick-reply-title">{{ reply.title }}</div>
                
              </div>
              <button class="delete-btn" 
                      (click)="removeQuickReply(reply); $event.stopPropagation()">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            
            <div *ngIf="quickReplies.length === 0 && !showQuickReplyInput" class="empty-state">
              <p>No quick messages yet</p>
            </div>
            
            <div *ngIf="showQuickReplyInput" class="add-message-section">
              <textarea
                [(ngModel)]="newQuickReply"
                placeholder="Type your quick message..."
                rows="3"
                autofocus>
              </textarea>
              <div class="add-actions">
                <button class="btn-add" (click)="addQuickReply()">Add</button>
                <button class="btn-cancel" (click)="showQuickReplyInput = false; $event.stopPropagation()">Cancel</button>
              </div>
            </div>
            
            <button *ngIf="!showQuickReplyInput" 
                    class="add-new-btn"
                    (click)="openQuickReplyInput(); $event.stopPropagation()">
              <mat-icon>add</mat-icon>
              Add New Message
            </button>
          </div>
        </div>
      </div>
      <button (click)="toggleManualStatus(selectedConversation.watiNumber)" class="toggle-button">
      {{ isManual ? 'Switch to Automatic' : 'Switch to Manual' }}
    </button>
     <button *ngIf="selectedConversation" mat-icon-button [matMenuTriggerFor]="chatHeaderMenu" class="dark-menu-btn">
          <mat-icon>more_vert</mat-icon>
        </button>
      <mat-menu #chatHeaderMenu="matMenu">
          <button mat-menu-item (click)="blockUser()">
            <mat-icon>block</mat-icon>
            <span *ngIf="!selectedConversation?.isBlocked">Block User</span>
             <span *ngIf="selectedConversation?.isBlocked">unBlock User</span>
          </button>
          <button mat-menu-item (click)="deLinkUserIDs()">
            <mat-icon>link_off</mat-icon>
            <span>D-Link</span>
          </button>
        </mat-menu>
    </div>
    
    </div>

    <div class="chat-messages" #chatContainer>
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <div *ngIf="!loading && messages.length === 0" class="no-messages">
        No messages found. Start the conversation.
      </div>

      <div class="messages-container">
        <div *ngIf="loadingMore" class="loading-more">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div *ngFor="let message of messages" 
            class="message-bubble" 
            [class.user-message]="message.fromUser || message.isFromUser" 
             [class.admin-message]="!message.fromUser && !message.isFromUser"
             [class.image-message]="message.mediaUrl && isImage(message.mediaType)">
          <div class="message-content">
            <!-- Display media first if present -->
            <div *ngIf="message.mediaUrl" class="media-container">
              <!-- Image -->
              <img *ngIf="isImage(message.mediaType)" 
              [src]="message.mediaUrl" 
              alt="Image" 
              class="media-image" 
              (click)="openImage(message.mediaUrl)">

                

                <div *ngIf="selectedImageUrl" class="image-overlay" (click)="closeImage()">
                  <img [src]="selectedImageUrl" alt="Full-size Image" class="enlarged-image">
                </div>
              
              <!-- Video -->
              <video *ngIf="isVideo(message.mediaType)" controls class="media-video">
                <source [src]="getFileUrl(message.mediaName)" [type]="message.mediaType">
                Your browser does not support the video tag.
              </video>
              
              <!-- Audio -->
              <div *ngIf="isAudio(message.mediaType)" class="audio-player">
                <button class="play-button" (click)="toggleAudio($event, message)">
                  <mat-icon>{{ isPlaying(message) ? 'pause' : 'play_arrow' }}</mat-icon>
                </button>
                <div class="audio-progress">
                  <div class="progress-bar" [style.width.%]="getAudioProgress(message)"></div>
                </div>
                <span class="audio-duration">{{ getAudioDuration(message) }}</span>
              </div>
              
              <!-- Other file types (download link) -->
              <div *ngIf="!isImage(message.mediaType) && !isVideo(message.mediaType) && !isAudio(message.mediaType)" class="media-file">
                <mat-icon>attach_file</mat-icon>
                <a [href]="getFileUrl(message.mediaName)" target="_blank" download>
                  {{ message.mediaName }}
                </a>
              </div>
              <span class="timestamp">{{message.timestamp | utcToLocal }}</span>
            </div>

            <!-- Then show content below media -->
            <p *ngIf="message.content && message.content.trim().length> 0" [innerHTML]="message.content | lineBreaks"></p>
            <div ></div>
            <span *ngIf="!message.mediaUrl" class="timestamp">{{message.timestamp | utcToLocal }}</span>
           
          </div>
        </div>
      </div>
    </div>

    <!-- Message input -->
    <div class="chat-input" *ngIf="activeWatiNumber">
      <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
        <div class="file-attachment" *ngIf="selectedFile">
          <span>{{ selectedFile.name }}</span>
          <button mat-icon-button type="button" (click)="clearSelectedFile()">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <div class="recording-preview" *ngIf="recordingPreview">
          <div class="preview-audio">
            <button class="play-button" (click)="togglePreviewAudio()" [disabled]="!previewAudio">
              <mat-icon>{{ isPreviewPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
            </button>
            <div class="audio-progress">
              <div class="progress-bar" [style.width.%]="previewProgress"></div>
            </div>
            <span class="audio-duration">{{ previewDuration | date:'mm:ss' }}</span>
          </div>
          <div class="preview-actions">
            <button mat-icon-button type="button" (click)="cancelRecording()" class="btn-icon cancel">
              <mat-icon>close</mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="sendRecording()" class="btn-icon send" [disabled]="!previewAudio">
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </div>
        
        <div class="input-container">
          <button mat-icon-button type="button" (click)="fileInput.click()" class="btn-icon">
            <mat-icon>attach_file</mat-icon>
          </button>
          <input hidden type="file" #fileInput (change)="onFileSelected($event)">
          
          <div class="recording-controls" *ngIf="isRecording">
            <div class="recording-timer">
              <mat-icon class="recording-icon">fiber_manual_record</mat-icon>
              {{ recordingDuration | date:'mm:ss' }}
            </div>
            <button mat-icon-button type="button" (click)="cancelRecording()" class="btn-icon cancel">
              <mat-icon>close</mat-icon>
            </button>
          </div>
          
          <div class="message-input-container" [class.recording]="isRecording">
            <mat-form-field class="message-input">
              <textarea matInput 
                        formControlName="content" 
                        placeholder="Type a message" 
                        (keydown.enter)="onEnter($event)"
                        style="color: white;">
              </textarea>
            </mat-form-field>
          
            
            <button mat-icon-button type="button" (click)="toggleRecording()" class="btn-icon" [class.recording]="isRecording">
              <mat-icon>{{ isRecording ? 'stop' : 'mic' }}</mat-icon>
            </button>
          </div>
          
          <button mat-icon-button type="submit" [disabled]="messageForm.invalid || loading" class="btn-icon">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

 
</div> 