<div class="containe">
    <h5 style="color: white">Fill Details :-</h5>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit($event)" class="row">
      <!-- Top Row -->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label style="color: yellow;">User ID</mat-label>
            <input matInput formControlName="userId" placeholder="Enter User ID" (input)="onUserInput($event)"
              (keydown)="onKeydown($event)" />
            <div class="three-body" *ngIf="loader1">
              <div class="three-body__dot"></div>
              <div class="three-body__dot"></div>
              <div class="three-body__dot"></div>
            </div>
            <mat-error *ngIf="
                formGroup.get('userId').invalid &&
                (formGroup.get('userId').dirty ||
                  formGroup.get('userId').touched)
              ">
              <span *ngIf="formGroup.get('userId').errors['required']">User ID is required.</span>
              <span *ngIf="formGroup.get('userId').errors['userExists']">User Not Found.</span>
              <span *ngIf="formGroup.get('userId').errors['minlength']">User ID must be at least 4 characters
                long.</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label style="color: yellow;">Amount</mat-label>
              <input matInput formControlName="amount" type="number" placeholder="Enter Amount"
                (keydown)="onKeydown($event)" />
              <!-- Display error messages for required and min validation -->
              <mat-error *ngIf="
                  formGroup.get('amount').invalid &&
                  (formGroup.get('amount').dirty ||
                    formGroup.get('amount').touched)
                ">
                <span *ngIf="formGroup.get('amount').errors['required']">Amount is required.</span>
                <span *ngIf="formGroup.get('amount').errors['min']">Amount must be greater than 0.</span>
                <span *ngIf="formGroup.get('amount').errors['pattern']">Amount must be in number only</span>
              </mat-error>
            </mat-form-field>
          </div>
      </div>
      <!-- Bottom Type Row -->
     
      <br />
      <div class="row justify-content-center">
        <button class="Btn" [disabled]="!formGroup.valid">Button</button>
      </div>
      <div class="container">
        <div class="row">
          <div class=" md-5 my-2">
            @if(dataSource.length >0){
            <div class="table">
              <table mat-table [dataSource]="dataSource">
                <!--- Note that these columns can be defined in any order. The actual rendered columns are set as a property on the row definition -->
                <!-- Position Column -->
                <ng-container matColumnDef="userName" [sticky]="true">
                  <th style="color: #ffd700" mat-header-cell *matHeaderCellDef>
                    UserId
                  </th>
                  <td mat-cell *matCellDef="let element" (click)="openDialog()" class="userName">
                    {{ element.userName }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="amount" [sticky]="true">
                  <th style="color: #ffd700" mat-header-cell *matHeaderCellDef>
                    Amount
                  </th>
                  <td mat-cell [matTooltip]="element.time" matTooltipPosition="above"
                    aria-label="Button that displays a tooltip when focused or hovered over" *matCellDef="let element"
                    (click)="openDialog()" class="amount">
                    {{ element.amount }}
                  </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="status" [sticky]="true">
                  <th style="color: #ffd700" mat-header-cell *matHeaderCellDef>
                    Status
                  </th>
                  <td mat-cell *matCellDef="let element" class="status-cell">
                    @switch (element.status) { @case ('In Process') {
                    <div class="loader">
                      <span class="bar"></span>
                      <span class="bar"></span>
                      <span class="bar"></span>
                    </div>
                    } @case ('Success') {
                    <i class="fa-solid fa-circle-check fa-lg" style="color: #20d813"></i>
                    <i (click)="openDepositDialog(element)" class="fa-solid fa-receipt fa-lg"
                      style="color: #f5cb32; padding-left: 10px"></i>
                    } @case ('Failed:Balance Not Sufficient') {
                    <i class="fa-solid fa-exclamation-triangle fa-lg" style="color: #f39c12"></i>
                    } @default { @if(element.status.startsWith('F') ) {
                    <i class="fa-solid fa-circle-xmark fa-lg" style="color: #df7630"></i>
                    } @else {
                    {{ element.status }}
                    } } }
                  </td>
                </ng-container>
                <ng-container matColumnDef="retry" [sticky]="true">
                  <th style="color: #ffd700" mat-header-cell *matHeaderCellDef>
                    Operations
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="justify-content-evenly">
                      @if(element.status.startsWith('F')){
                      <i (click)="retry(element)" class="fa-solid fa-arrows-rotate userName"
                        style="color: #8cf584"></i>
                      } @if(element.status.startsWith('F')
                      ||element.status.startsWith('I') ){
                      <i (click)="deleteReport(element.id)" class="fa-solid fa-trash userName"
                        style="color: #f90808; margin-left: 10px"></i>
                      }
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>
            }
          </div>
        </div>
      </div>
      
     
      <input type="hidden" formControlName="id" />
    </form>
  </div>
