mat-dialog-content  {
    background-color:   rgb(99, 98, 94) !important;
    // overflow: hidden;
   
  
   
    
  }
  h2{
    background-color:   rgb(99, 98, 94)  !important;
    color: wheat !important;
  } 

  ::ng-deep .mat-mdc-select-value-text {
    color: white;
  }