.c1 {
  margin-left: 7px;
}

.icon {
  cursor: pointer;
}
.bn {
  margin-top: -500px;
  margin-left: 4px;
  height: auto;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 10px;

  height: 55px;
  border-radius: 10px;
}

.search-input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.search-input::placeholder {
  color: #888;
}

.search-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

.search-button svg {
  width: 20px;
  height: 20px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 12px 16px;
}

.dropdown.open .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 5px 0;
}

.dropdown-menu label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-menu input[type="checkbox"] {
  margin-right: 8px;
}
// .loader {
// display: flex;
// align-items: center;
// margin-left: 6px;

// }
.bar {
  display: inline-block;
  width: 1.4px;
  height: 10px;
  background-color: rgba(177, 190, 82, 0.5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 15px;
  margin: 0 5px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}
@keyframes scale-up4 {
  20% {
    background-color: #ecf316;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

.three-body {
  --uib-size: 30px;
  --uib-speed: 0.8s;
  --uib-color: #a141a2;
  position: absolute;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  right: 0px;
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
//progressbar
::ng-deep .mdc-linear-progress__bar-inner {
  border-color: #a141a2 !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 16px;
  min-width: 400px;
  background-color: #2e2e2e;
  border: 1px solid #212121;
}

.approve-btn,
.reject-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}
.approve-btn {
  background-color: #28a745;
  color: white;
}
.reject-btn {
  width: auto;
  background-color: #dc3545;
  color: white;
}
.status {
  text-align: center;
  font-size: 18px;
}
.status-approved {
  color: #28a745;
}
.status-rejected {
  color: #dc3545;
}

::ng-deep .mat-mdc-header-cell {
  color: gold !important;
  background-color: rgb(35, 30, 9) !important;
  text-align: center !important;
}

::ng-deep .mat-mdc-cell {
  color: #f4eaea !important;
  text-align: center !important;
}

//===================
::ng-deep .mat-mdc-tab .mdc-tab__text-label {
  color: #c9c9c9 !important;
}
::ng-deep .mat-mdc-tab-body-content {
  overflow-x: hidden !important;
}

::ng-deep .mat-mdc-paginator {
  background-color: #2e2e2e !important;
  color: rgb(243, 243, 243) !important;
}
::ng-deep .mat-mdc-select-arrow svg {
  color: rgba(245, 237, 241, 0.919) !important;
}
::ng-deep .mat-mdc-select-value {
  color: rgba(245, 237, 241, 0.919) !important;
}

::ng-deep .mat-mdc-icon-button .mat-mdc-paginator-icon {
  fill: rgb(249 249 249) !important;
}

::ng-deep .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
  fill: rgb(7, 7, 7) !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #2e2e2e !important;
}
.status-cell {
  display: flex;
  justify-content: center; /* Horizontal centering */
  // align-items: center;     /* Vertical centering */
  // height: 100%;            /* Ensures full height of the cell */
}
