<div class="chat-popup">
  <div class="chat-header">
    <div>
      <h5>{{ teleuser.firstName }}</h5>
      <!-- <p style="margin: 0; font-size: 10px; color: #ccc">
        {{ teleuser.chatId }}
      </p> -->
    </div>

    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="chat-container" #chatContainer (scroll)="onScroll()">
    <div
      *ngFor="let msg of messages"
      [ngClass]="{
        'user-msg': msg.sender === 'USER',
        'bot-msg': msg.sender !== 'USER'
      }"
    >
      <span>{{ msg.message }}</span>
    </div>
  </div>

  <div class="chat-footer">
    <!-- <input
      matInput
      style="width: 100%"
      placeholder="Type a message..."
      [(ngModel)]="newMessage"
      (keyup.enter)="sendMessage()"
    /> -->
    <div class="input-container">
      <input
        placeholder="Enter text"
        class="input-field"
        type="text"
        placeholder="Type a message..."
        [(ngModel)]="newMessage"
        (keyup.enter)="sendMessage()"
      />
      <label for="input-field" class="input-label">Enter text</label>
      <span class="input-highlight"></span>
    </div>

    <button mat-icon-button (click)="sendMessage()" style="color: #ffd700">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
