h1 {
    font-size: 2rem;
    color: transparent;
    background-image: linear-gradient(to right, #ffd700, #ffd700);
    -webkit-background-clip: text;
    background-clip: text;
    padding-left: 15px;
    padding-right: 0;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
  }
