h1 {
  font-size: 2rem;
  color: transparent;
  background-image: linear-gradient(to right, #a141a2, #a141a2);
  -webkit-background-clip: text;
  background-clip: text;
  padding-left: 15px;
  padding-right: 0;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}
