<h2 mat-dialog-title style="color: gold;">Edit User Details :-</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>UTR Number</mat-label>
      <input matInput formControlName="utrNumber" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Amount</mat-label>
      <input matInput formControlName="amount" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Select Bank</mat-label>
      <input type="text"
             placeholder="Start typing to select a bank"
             aria-label="Bank"
             matInput
             [formControl]="bankIdControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank.bankName">
          {{bank.bankName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()" style="color: gold;">Cancel</button>
  <button mat-button (click)="onSave()" [disabled]="!formGroup.valid" style="color: gold;">Save</button>
</mat-dialog-actions>
