<h1 mat-dialog-title style="color: #a141a2">
  <strong>{{ dataType }} list :-</strong>
</h1>
<mat-dialog-content style="background-color: rgb(5, 5, 5); color: white">
  <app-loader *ngIf="loader"></app-loader>
  <div class="example-container" [hidden]="false">
    <mat-table
      style="background-color: rgb(5, 5, 5)"
      #table
      [dataSource]="dataSource"
      matSort
    >
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef style="color: #a141a2">
          No.
        </mat-header-cell>
        <mat-cell
          *matCellDef="let element; let i = index"
          style="color: rgb(241, 237, 237)"
        >
          {{ i + 1 }}</mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="bankName">
        <mat-header-cell *matHeaderCellDef style="color: #a141a2">
          BankName
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="color: white">
          {{ element.bankName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="accId">
        <mat-header-cell *matHeaderCellDef style="color: #a141a2">
          AccId
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="color: white">
          {{ element.accId }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ifscCode">
        <mat-header-cell *matHeaderCellDef style="color: #a141a2">
          IfscCode
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="color: white">
          {{ element.ifscCode }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="balance">
        <mat-header-cell *matHeaderCellDef style="color: #a141a2">
          Balance
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="color: white">
          {{ element.balance }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef style="color: #a141a2">
          Status
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="color: white">
          {{ element.freeze ? "Freeze" : "Active" }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Operation" [sticky]="true">
        <mat-header-cell *matHeaderCellDef style="color: #a141a2">
          Operations
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <i
            (click)="toggleStatus(element.id)"
            class="fa-solid fa-exchange-alt userName"
            [style.color]="element.freeze ? '#f90808' : '#00ff00'"
            style="margin-left: 10px"
          ></i>
        </mat-cell>
      </ng-container>

      <mat-header-row
        class="rowheader"
        *matHeaderRowDef="displayedColumns"
      ></mat-header-row>
      <mat-row
        class="rowheader"
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>
  </div>
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon style="color: gold">close</mat-icon>
  </button>
</mat-dialog-content>
