<Div mat-dialog-title style="padding-bottom: 0px">
  <h2>Check Approve</h2>
  <div>
    @if(type==="Deposit"){
    <span style="color: aliceblue"
      >userId : {{ user.userId }} , BankName : {{ user.bank.bankName }}
    </span>
    }@else {
    <span style="color: aliceblue">userId : {{ user.userId }} </span>
    }
  </div>
</Div>
<mat-dialog-content>
  <app-loader *ngIf="loader"></app-loader>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="formGroup" class="form-container">
        <div class="form-row">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>UTR Number</mat-label>
            <input
              matInput
              formControlName="utrNumber"
              placeholder="Enter UTR Number"
              maxlength="12"
              #UTRInput
              (input)="onInput($event)"
            />
            <div class="three-body" *ngIf="loader2">
              <div class="three-body__dot"></div>
              <div class="three-body__dot"></div>
              <div class="three-body__dot"></div>
            </div>
            <mat-error
              *ngIf="utrNumber.errors?.['required'] || utrNumber.errors?.['utrExists']"
            >
              <span *ngIf="utrNumber.errors?.['utrExists']">
                UTR Already used.
              </span>

              <span *ngIf="utrNumber.errors?.['required']">
                UTR Number is required.
              </span>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Amount</mat-label>
            <input matInput formControlName="amount" />
          </mat-form-field>

          <button
            *ngIf="utrNumber.errors?.['utrExists']"
            style="color: #20d813"
            mat-button
            (click)="openUTRDetailsPopup()"
          >
            Check UTR Details
          </button>
        </div>
        @if(type!=="Deposit"){
        <div class="container">
          <div class="row">
            <div *ngIf="!imagePreview">
              <label class="custum-file-upload">
                <div>
                  <div class="icon">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill=""
                      viewBox="0 0 24 24"
                    >
                      <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                      <g
                        stroke-linejoin="round"
                        stroke-linecap="round"
                        id="SVGRepo_tracerCarrier"
                      ></g>
                      <g id="SVGRepo_iconCarrier">
                        <path
                          fill=""
                          d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                          clip-rule="evenodd"
                          fill-rule="evenodd"
                        ></path>
                      </g>
                    </svg>
                  </div>
                  <div class="text">
                    <span>{{ imageStatus }}</span>
                  </div>
                  <input
                    type="file"
                    id="file"
                    accept="image/*"
                    (change)="onFileSelected($event)"
                    (keydown)="onKeydown($event)"
                  />
                </div>
              </label>
            </div>

            <!-- Image Preview Section -->
            <div
              *ngIf="imagePreview"
              class="image-preview"
              (mousemove)="onMouseMove($event)"
            >
              <img [src]="imagePreview" alt="UTR Image Preview" />
            </div>
          </div>
        </div>
        }
      </form>
    </div>
    <div class="col-md-6">
      @if(type==="Deposit"){
      <div class="image-container">
        <div class="utr-image-container">
          <div
            class="utr-image-container"
            (mousemove)="zoomImage($event)"
            (mouseleave)="hideZoom()"
          >
            <img
              [src]="user.bankUtrImageLink"
              alt="UTR Image"
              class="utr-image"
            />
            <div class="magnifier" #magnifier></div>
            <img
              [src]="user.bankUtrImageLink"
              alt="Zoomed UTR Image"
              class="zoomed-image"
              #zoomedImage
            />
          </div>
        </div>
      </div>
      }@else{
      <div style="margin-top: 10px">
        <h4 class="mat-h4" style="color: gold">Withdraw Message :</h4>
        <mat-card
          class="scrollable-card"
          style="padding: 2px; margin-left: 20px"
        >
          <span
            [innerHTML]="formatWithdrawMessage(user?.withdrawMessage)"
          ></span>
        </mat-card>
      </div>

      }
    </div>
    <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon style="color: gold">close</mat-icon>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="display: flex; justify-content: center">
  @if(type==="Deposit"){
  <button
    *ngIf="status === 'FAILED'"
    (click)="retry(obj.id, obj)"
    class="message-btn"
    mat-raised-button
    color="primary"
  >
    Retry
  </button>
  @if(status === 'PENDING'){
  <button
    mat-button
    (click)="user.approveStatus === 'PENDING' ? openRejectDialog() : null"
    [ngStyle]="{ color: user.approveStatus === 'PENDING' ? 'white' : 'gray' }"
    [class.disabled]="user.approveStatus !== 'PENDING'"
    style="background-color: red"
  >
    Reject
  </button>
  <button
    class="approve-btn"
    (click)="user.approveStatus === 'PENDING' ? onSave() : null"
    [ngStyle]="{ color: user.approveStatus === 'PENDING' ? 'white' : 'gray' }"
    [class.disabled]="user.approveStatus !== 'PENDING'"
    [style.background-color]="'#20d813'"
    mat-raised-button
    aria-label="Button that displays a tooltip when focused or hovered over"
  >
    Approve
  </button>
  }
  <span *ngIf="status === 'DONE'" style="color: rgb(64, 228, 75)">
    Deposit Succesfull in "{{ obj.userId }}" with amount
    {{ obj.amount }} !!!</span
  >
  <span *ngIf="status === 'DELETED'" style="color: red">
    Deleted For some reason !!!</span
  >
  }@else{
  <button
    mat-button
    *ngIf="status === 'PENDING'"
    (click)="status === 'PENDING' ? openRejectDialog() : null"
    [ngStyle]="{ color: status === 'PENDING' ? 'white' : 'gray' }"
    [class.disabled]="status !== 'PENDING'"
    style="background-color: red"
  >
    Reject
  </button>
  <button
    *ngIf="status === 'PENDING'"
    class="approve-btn"
    (click)="onSave()"
    [ngStyle]="{ color: 'white' }"
    [style.background-color]="'#20d813'"
    mat-raised-button
    aria-label="Button that displays a tooltip when focused or hovered over"
  >
    Approve
  </button>
  <div class="loader" *ngIf="status === 'IN_PROCESS'">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <button
    *ngIf="status === 'DONE'"
    (click)="onSendMessage()"
    class="message-btn"
    mat-raised-button
    color="primary"
  >
    Send Message
  </button>
  <span *ngIf="status === 'MESSAGE_SENT'" style="color: #00ccff">
    Message sent succesfull !!!</span
  >
  <span *ngIf="status === 'DELETED'" style="color: red">
    Deleted For some reason !!!</span
  >
  <span *ngIf="status === 'INSUFFICIENT_BALANCE'" style="color: #ffcc00">
    Insufficient Balance !!!</span
  >
  }
</mat-dialog-actions>
