<app-loader *ngIf="prograsbar"></app-loader>


<div>
  <div class="row">
    <div class="col containe">
      <h5 style="color: white">Fill Details :-</h5>
      <form [formGroup]="formGroup" class="row">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Site</mat-label>
              <mat-select
                formControlName="site_id"
                placeholder="Select Site"
                (selectionChange)="onSiteSelectionChange($event)"
                tabindex="1"
              >
                <mat-option *ngFor="let site of sites" [value]="site.id">
                  {{ site.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Master</mat-label>
              <mat-select
                formControlName="masterId"
                placeholder="Select Master"
                tabindex="2"
              >
                <mat-option
                  *ngFor="let siteMaster of siteMaster"
                  [value]="siteMaster.id"
                >
                  {{ siteMaster.username }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Top Row -->
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>User ID</mat-label>
              <input
                matInput
                formControlName="userId"
                placeholder="Enter User ID"
                tabindex="3"
              />
              <div class="three-body" *ngIf="loader1">
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
                <div class="three-body__dot"></div>
              </div>
              <mat-error
                *ngIf="
                  formGroup.get('userId').invalid &&
                  (formGroup.get('userId').dirty ||
                    formGroup.get('userId').touched)
                "
              >
                <span
                  *ngIf="
                    formGroup.get('userId').errors &&
                    formGroup.get('userId').errors['userExists']
                  "
                >
                  User already exists.
                </span>

                <span *ngIf="formGroup.get('userId').errors['required']"
                  >User ID is required.</span
                >
                <span *ngIf="formGroup.get('userId').errors['minlength']"
                  >User ID must be at least 4 characters long.</span
                >
              </mat-error>
            </mat-form-field>
          </div>
         
        </div>

      
        <p style="color: forestgreen; text-align: center">
          Default password <b style="color: #20d813">Zxcv1212</b>
        </p>

        <div class="row justify-content-center">
          <button class="Btn" (click)="onSubmit()">Button</button>
        </div>
        <input type="hidden" formControlName="id" />
      </form>
    </div>
    <div class="col">
      <div class="instructions">
        <h5>Instructions</h5>
        <p>Welcome to the user details form. Here are the steps to follow:</p>
        <ol>
          <li>The username corresponds to various websites.</li>
          <li>
            Please provide the username associated with the respective website.
          </li>
          <li>Select the amount you wish to process.</li>
          <li>Enter the Unique Transaction Reference (UTR) number.</li>
          <li>
            Optionally, operators can upload a screenshot of the UTR or drag and
            drop it into the designated space.
          </li>
        </ol>
        <p>
          Thank you for following these instructions. If you encounter any
          issues, please feel free to reach out for assistance.
        </p>
      </div>
    </div>
  </div>
</div>
