<app-loader *ngIf="loader"></app-loader>
<div>
  <div class="row">
    <div class="col-sm-4">
      <div class="newcard">
        <div class="card-body">
          <h5 class="card-title">Active User</h5>
          <p class="card-text">{{ ActiveUser }}</p>
        </div>
        <div class="temp-scale">
          <i class="fa-solid fa-arrow-right" style="color: #926108"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="newcard">
        <div class="card-body">
          <h5 class="card-title">Block User</h5>
          <p class="card-text">{{ BlockUser }}</p>
        </div>
        <div class="temp-scale">
          <i class="fa-solid fa-arrow-right" style="color: #926108"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <button class="col-sm-4 mb-3 b1" id="b2" style="background-color:#E2BD01" (click)="openDialog()">
        Add user
      </button>
      <button class="col-sm-4 mb-3 b1" id="b3" style="background: linear-gradient(to right, #cb9900,#ab7702);"  >
        <div class="checkbox-wrapper-8">
          <input 
            type="checkbox" 
            id="cb3-8" 
            class="tgl tgl-skewed" 
            [checked]="isApproveDeposit" 
            (change)="onToggleRole($event)">
          <label 
            for="cb3-8" 
            [attr.data-tg-on]="'Showing Approve Deposit'" 
            [attr.data-tg-off]="'Showing Approve Withdraw'" 
            class="tgl-btn">
          </label>
        </div>
      </button>
      <button class="col-sm-4 b1" id="b4" style="background: linear-gradient(to right, #a67102,#89580a);">
        -
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="search-container col-sm-12">
        <input
        matInput
        
        placeholder="keyword"
        class="search-input"
        #input
         (input)="filterData(input.value)"
      />
        <button class="search-button" (click)="filterData(input.value)">
          <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </button>
      </div>
      
    
    
    </div>
  </div>
  
  
</div>

<div class="example-container mat-elevation-z8 tbl" [hidden]="false">
  <mat-table style="background-color: rgb(5, 5, 5);" #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef style=" color: #ffd700;  ">
        No.
      </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index" style=" color: rgb(241, 237, 237)">
        {{ i + 1 }}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="userId">
      <mat-header-cell *matHeaderCellDef style=" color: #ffd700">
        Username
      </mat-header-cell>
      <mat-cell *matCellDef="let element" style="color: white">
        {{ element.username }}
      </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="count">
      <mat-header-cell *matHeaderCellDef style=" color: #ffd700">
        Role
      </mat-header-cell>
      <mat-cell *matCellDef="let element" style=" color: white; "
        >
        {{ element.role }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="operation">
      <mat-header-cell *matHeaderCellDef style=" color: #ffd700">
        Operation
      </mat-header-cell>
      <mat-cell *matCellDef="let element">

        <span class="material-symbols-outlined" style=" color: #ee7c7c ; cursor: pointer; justify-content: center;"
          (click)="blockUser(element.id)">
          block
        </span>
        <span class="material-symbols-outlined" style=" color: #fdfdfd ; cursor: pointer; justify-content: center; margin-left: 10px;"
        (click)="openDialogdetail(element.id,element.role)">
        visibility
        </span>

      </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="symbol" [hidden]="false">
        <mat-header-cell *matHeaderCellDef style="background-color: rgb(53, 51, 51);color:#ffd700"> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element" style="background-color: rgb(53, 51, 51);color: white"> {{element.symbol}} </mat-cell>
      </ng-container> -->

    <mat-header-row class="rowheader" *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="rowheader" *matRowDef="let row; columns: displayedColumns"></mat-row>

    <!-- <tr class="mat-row" *matNoDataRow style="background-color: rgb(53, 51, 51)">
        <td class="mat-cell" style="background-color: rgb(53, 51, 51);color: white" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr> -->
  </mat-table>

  <!-- <mat-paginator #paginator (page)="nextPage($event)"
     style="background-color: rgb(53, 51, 51);color: white"
                   [pageSize]="10"
                  
                   [showFirstLastButtons]="true"
                   >
    </mat-paginator> -->
</div>