<div>
    <div class="row">
      <div class="col-sm-4">
        <div class="newcard">
          <div class="card-body">
            <h5 class="card-title">Active User</h5>
            <p class="card-text">{{ ActiveUser }}</p>
          </div>
          <div class="temp-scale" >
            <i class="fa-solid fa-arrow-right" style="color: #926108"  ></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="newcard">
          <div class="card-body">
            <h5 class="card-title">Block User</h5>
            <p class="card-text">{{ BlockUser }}</p>
          </div>
          <div class="temp-scale" >
            <i class="fa-solid fa-arrow-right" style="color: #926108"></i>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <button
          class="col-sm-4 mb-3 b1"
          id="b2"
          style="background-color:#E2BD01"
          (click)="openDialog()"
        >
          Add user
        </button>
        <button
          class="col-sm-4 mb-3 b1"
          id="b3"
          style="background: linear-gradient(to right, #cb9900,#ab7702);"
      
        >
           -
        </button>
        <button
          class="col-sm-4 b1"
          id="b4"
          style="background: linear-gradient(to right, #a67102,#89580a);"
          
        >
          -
        </button>
      </div>
    </div>
  </div>1
  <div class="row">
    <div class="col-sm-8">
      <input
        class=" inp "
        matInput
        placeholder="Username"
        #input
        (input)="filterData(input.value)"
      />
    </div>
    <div class="col-sm-4">
      <button
        class= "inp"
        id="s1"
        style="background: linear-gradient(to right, #74480f,#442504); color: #fffbfb; font-size: 500"
        (click)="filterData(input.value)"
      >
        Search
      </button>
    </div>
  </div>
  
  <!-- User Hierarchy Table -->
<table class="table table-bordered user-tree-table mt-3">
  <thead>
    <tr>
      <th>Username</th>
      <th>Role</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="dataSource && dataSource.length">
      <ng-container *ngFor="let user of dataSource">
        <ng-container *ngTemplateOutlet="recursiveRows; context: { $implicit: user, level: 0 }"></ng-container>
      </ng-container>
    </ng-container>
  </tbody>
</table>

<ng-template #recursiveRows let-user let-level="level">
  <tr>
    <td>
      <span [style.paddingLeft.px]="level * 24">
        <ng-container *ngIf="user.children && user.children.length > 0">
          <button class="btn btn-link btn-sm p-0" (click)="user.expanded = !user.expanded">
            <i class="fa" [ngClass]="user.expanded ? 'fa-caret-down' : 'fa-caret-right'"></i>
          </button>
        </ng-container>
        {{ user.username }}
      </span>
    </td>
    <td>{{ user.role }}</td>
    <td>
      <i 
        class="fa fa-circle"
        [ngStyle]="{'color': user.logged ? 'green' : 'red'}"
        aria-label="Status"
      ></i>
      <span [ngStyle]="{'color': user.logged ? 'green' : 'red', 'margin-left': '4px'}">
        {{ user.logged ? 'Online' : 'Offline' }}
      </span>
      &nbsp;
      <button class="btn btn-link btn-sm p-0" title="View Activity" (click)="showUserActivity(user)">
        <i class="fa fa-eye" style="color: #E2BD01;"></i>
      </button>
    </td>
    <td>
      <button *ngIf="user.role !== 'SUPERADMIN' && user.role !== 'ADMIN' && user.role !== 'APPROVEADMIN'" class="btn btn-warning btn-sm" (click)="openOtpDialog(user.username)"> OTP</button>
      <button *ngIf="user.role !== 'SUPERADMIN' && user.role !== 'ADMIN' && user.role !== 'APPROVEADMIN'" class="btn btn-danger btn-sm ms-2" (click)="logoutUser(user.username)">
        <i class="fa fa-sign-out-alt"></i> 
      </button>
    </td>
  </tr>
  <ng-container *ngIf="user.children && user.children.length > 0 && user.expanded">
    <ng-container *ngFor="let child of user.children">
      <ng-container *ngTemplateOutlet="recursiveRows; context: { $implicit: child, level: level + 1 }"></ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<!-- Activity Modal -->
<div *ngIf="showActivityModal" class="modal fade show d-block custom-activity-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content activity-modal-content">
      <div class="modal-header activity-modal-header">
        <h5 class="modal-title">Activity for <span style="color:#E2BD01">{{ selectedUserForActivity }}</span></h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeActivityModal()"></button>
      </div>
      <div class="modal-body activity-modal-body">
        <table class="table table-bordered user-tree-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Activity Type</th>
              <th>Timestamp</th>
              <th>IP Address</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let activity of activityData">
              <td>{{ activity.id }}</td>
              <td>{{ activity.activityType }}</td>
              <td>{{ formatLocalTime(activity.activityTimestamp) }}</td>
              <td>{{ activity.ipAddress }}</td>
              <td>{{ activity.details || '-' }}</td>
            </tr>
            <tr *ngIf="activityData.length === 0">
              <td colspan="5" class="text-center">No activity found.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer activity-modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeActivityModal()">Close</button>
      </div>
    </div>
  </div>
</div>
 